// MENU PRINCIPAL
ion-content {
  --background: rgb(246, 154, 4);
  --background: linear-gradient(
    15deg,
    rgba(246, 154, 4, 1) 48%,
    rgba(246, 219, 4, 1) 100%
  );
  overflow: hidden;
  position: relative;
  .cosas-lindas-btn {
    background: url("../../assets/edificio-lindo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    height: 40vh;
    box-shadow: 10px 10px 10px #000;
    h2 {
      font-size: 1.8rem;
      font-weight: bolder;
      line-height: 14rem;
      background: rgba(255, 0, 0, 0.212);
      border-radius: 15px;
      text-shadow: 2px 2px 4px #000;
    }
  }
  .cosas-lindas-btn:active {
    transform: scale(0.9);
    transition: transform 0.3s;
  }
  .cosas-feas-btn {
    background: url("../../assets/edificio-feo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    box-shadow: 2px 2px 3px #000;
    height: 40vh;
    box-shadow: 10px 10px 10px #000;
    h2 {
      font-size: 1.8rem;
      font-weight: bolder;
      line-height: 14rem;
      background: rgba(255, 0, 0, 0.212);
      border-radius: 15px;
      text-shadow: 2px 2px 4px #000;
    }
  }
  .cosas-feas-btn:active {
    transform: scale(0.9);
    transition: transform 0.3s;
  }
  .btn-danger {
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    box-shadow: 10px 10px 10px #000;
  }
  .btn-danger:active {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
}

// MENU COSAS LINDAS Y FEAS
.btns-cosas-lindas {
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 10px #000;
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
}
.btns-cosas-lindas:hover {
  color: #000;
}
.btns-cosas-lindas:active {
  transform: scale(0.9);
  transition: transform 0.3s;
}
.btn-menu-cl {
  background: black;
}
.btn-sesion-cl {
  background: rgb(168, 28, 28);
}

.mis-fotos,
.grafico {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #000;
  font-weight: bold;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.mis-fotos:active,
.grafico:active {
  transform: scale(0.9);
  transition: transform 0.3s;
}
.grafico {
  width: 13rem;
  background: black;
  color: #fff;
  border: 3px solid #444;
}

.btn-tomar-foto {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 18rem;
  background: url("../../assets/camara-mod.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 3px solid rgb(255, 255, 255);
  text-align: center;
  box-shadow: 10px 10px 10px #000;
  h2 {
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 16rem;
    background: rgba(95, 1, 1, 0.25);
    border-radius: 15px;
    text-shadow: 3px 3px 8px #000;
  }
}
.btn-tomar-foto:active {
  transform: scale(0.9);
  transition: transform 0.3s;
}

// LISTADO COSAS LINDAS y FEAS
.img-cosas-lindas {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.img-cosas-lindas-usuario {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.btn-like-dislike-cl {
  --background: rgb(160, 221, 198);
  ion-icon {
    width: 3rem;
    height: 3rem;
    margin-left: 40%;
  }
}

.like-activado {
  color: rgb(1, 143, 1);
}

// PIPE Y BAR CHART

.pipe-chart-container,
.bar-chart-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50vh !important;
  margin: auto;
  margin-top: 2rem;
}
